*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

.gradle
/.idea/workspace.xml
/.idea/libraries
.idea/caches/
.idea/codeStyles/codeStyleConfig.xml
.DS_Store
/build

#remove studio files
*.iml
.idea/*.xml

# ignore apk files
app/prod/
app/dev/
.idea/caches/
.idea/codeStyles/
.idea/copyright/
.idea/dictionaries/
captures/